.user__input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    width: 358px;
    background-color: black;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
    color: white;
}

.user__input::placeholder {
    color: #CCCCCC;
    font-weight: 500;
}

.user__input:not(:first-child) {
    margin-top: 30px;
}